body {
  text-align: center;
  margin-top: 50px;
}

#todo-container {
  width: 1200px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 20px;
  border-radius: 15px;
}

#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#input-box {
  width: 800px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#input-button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  background-color: blue;
}

#input-button:hover {
  background-color: white;
  color: black;
}

ul {
  display: inline-block;
  width: 400px;
  list-style: none;
  margin-top: 20px;
  text-align: left;
}

li {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

.edit-btn,
.delete-btn {
  float: right;
  color: red;
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
}

#edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-box {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  text-align: center;
}

.popup-buttons button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
}

.popup-buttons button:hover {
  background-color: white;
  color: black;
}

#save-button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  background-color: blue;
}

#save-button:hover {
  background-color: white;
  color: black;
}

#list-container > img,
h1 {
  height: 120px;
  margin: 25px 100px;
}
